nr/暂时未替换NR：天气.json
[
    {
        "id": "30a545983dec7cc9",
        "type": "tab",
        "label": "天气UI辅助实体",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33cd868581312aa4",
        "type": "group",
        "z": "30a545983dec7cc9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6fad7956cbf4aa48",
            "f1f603e63a0b28f9",
            "d62c317083cc84f4",
            "5e16e56dca107508",
            "fbb92b184587fdb7",
            "40a9408e6430a525",
            "c7835434cdba5ca8",
            "544b00879181f4a6",
            "9d64da68d04f0f39",
            "3bbe9c743e7f70ca",
            "7a83be3aa273920e",
            "a4bf6e3319f7d609",
            "89f7d8be4a40aadd"
        ],
        "x": 34,
        "y": 99,
        "w": 692,
        "h": 262
    },
    {
        "id": "6fad7956cbf4aa48",
        "type": "ha-switch",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "搜索预警",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "0aa54b304bd2b426",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "9d64da68d04f0f39"
            ],
            []
        ]
    },
    {
        "id": "f1f603e63a0b28f9",
        "type": "ha-switch",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "家的预警",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "51168b3e1a39ce17",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "544b00879181f4a6"
            ],
            []
        ]
    },
    {
        "id": "d62c317083cc84f4",
        "type": "ha-switch",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "人员B预警",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "a441f6abdbb499ea",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "c7835434cdba5ca8"
            ],
            []
        ]
    },
    {
        "id": "5e16e56dca107508",
        "type": "ha-switch",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "人员A预警",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "238416eb2d048a0f",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "40a9408e6430a525"
            ],
            []
        ]
    },
    {
        "id": "fbb92b184587fdb7",
        "type": "ha-switch",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "天气_切换",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "24c312cd099125a4",
        "enableInput": false,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 120,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "40a9408e6430a525",
        "type": "delay",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "89f7d8be4a40aadd"
            ]
        ]
    },
    {
        "id": "89f7d8be4a40aadd",
        "type": "api-call-service",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "关闭人员A预警",
        "server": "d5d3e351.02443",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.weather_people1_yu_jing"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 620,
        "y": 140,
        "wires": [
            []
        ],
        "info": "action  要保证 text.set_value"
    },
    {
        "id": "a4bf6e3319f7d609",
        "type": "api-call-service",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "关闭人员B预警",
        "server": "d5d3e351.02443",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.weather_people2_yu_jing"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ],
        "info": "action  要保证 text.set_value"
    },
    {
        "id": "c7835434cdba5ca8",
        "type": "delay",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "a4bf6e3319f7d609"
            ]
        ]
    },
    {
        "id": "7a83be3aa273920e",
        "type": "api-call-service",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "关闭家的预警",
        "server": "d5d3e351.02443",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.weather_home_yu_jing"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 620,
        "y": 260,
        "wires": [
            []
        ],
        "info": "action  要保证 text.set_value"
    },
    {
        "id": "544b00879181f4a6",
        "type": "delay",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "7a83be3aa273920e"
            ]
        ]
    },
    {
        "id": "3bbe9c743e7f70ca",
        "type": "api-call-service",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "关闭搜索预警",
        "server": "d5d3e351.02443",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.weather_sousuo_yu_jing"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 620,
        "y": 320,
        "wires": [
            []
        ],
        "info": "action  要保证 text.set_value"
    },
    {
        "id": "9d64da68d04f0f39",
        "type": "delay",
        "z": "30a545983dec7cc9",
        "g": "33cd868581312aa4",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "3bbe9c743e7f70ca"
            ]
        ]
    },
    {
        "id": "0aa54b304bd2b426",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "9a358d1881b50c54",
        "name": "weather_sousuo_预警",
        "version": 6,
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "weather_sousuo_预警"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "51168b3e1a39ce17",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "9a358d1881b50c54",
        "name": "weather_home_预警",
        "version": 6,
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "weather_home_预警"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "a441f6abdbb499ea",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "9a358d1881b50c54",
        "name": "weather_people2_预警",
        "version": 6,
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "weather_people2_预警"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "238416eb2d048a0f",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "9a358d1881b50c54",
        "name": "weather_people1_预警",
        "version": 6,
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "weather_people1_预警"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "24c312cd099125a4",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "9a358d1881b50c54",
        "name": "weather_切换",
        "version": 6,
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "weather_切换"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d5d3e351.02443",
        "type": "server",
        "name": "消逝Home Assistant",
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ":",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "9a358d1881b50c54",
        "type": "ha-device-config",
        "name": "天气",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]