nr/暂时未替换NR：待办.json
[
    {
        "id": "8debaea502f81074",
        "type": "tab",
        "label": "待办",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22cba16ae772a56f",
        "type": "group",
        "z": "8debaea502f81074",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c8d70dc94adf2f13",
            "d998df8066cc2382",
            "ba96416af0b5ef62",
            "545747b2e8c6eb94",
            "afd09ec616337487",
            "25102a512f883ef6",
            "d38dc6a22790fdd7",
            "aa0cd11ee2038507",
            "ad751e1a6273294d",
            "1102b719ed296d65"
        ],
        "x": 34,
        "y": 59,
        "w": 772,
        "h": 222
    },
    {
        "id": "c8d70dc94adf2f13",
        "type": "ha-text",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "待办事项描述",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "72e23d7b36028b95",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d998df8066cc2382",
        "type": "ha-text",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "待办事项名称",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "704c32e3a7bf4793",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 130,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ba96416af0b5ef62",
        "type": "ha-text",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "待办事项时间",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "1b3e22ad604a5bee",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "545747b2e8c6eb94",
        "type": "comment",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "这几个可以共用",
        "info": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "afd09ec616337487",
        "type": "comment",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "独立待办事项：2025-05-23 更新     ",
        "info": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "25102a512f883ef6",
        "type": "api-call-service",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "todo.item",
        "server": "d5d3e351.02443",
        "version": 7,
        "debugenabled": false,
        "action": "todo.get_items",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "todo.item"
        ],
        "labelId": [],
        "data": "{\"status\": \"needs_action\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "itmes",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "todo",
        "service": "get_items",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "aa0cd11ee2038507"
            ]
        ],
        "info": "action  要保证 text.set_value"
    },
    {
        "id": "d38dc6a22790fdd7",
        "type": "server-state-changed",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "todo.item更新",
        "server": "d5d3e351.02443",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "todo.item"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 140,
        "wires": [
            [
                "25102a512f883ef6"
            ]
        ]
    },
    {
        "id": "aa0cd11ee2038507",
        "type": "function",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "todo.item实体",
        "func": "var items_num=[];\nvar items = msg.itmes[\"todo.item\"].items;\n\n     \nvar outputMsg = {\n    \"items\": items\n};\nreturn outputMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "Lunar",
                "module": "lunar-javascript"
            }
        ],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "ad751e1a6273294d"
            ]
        ]
    },
    {
        "id": "ad751e1a6273294d",
        "type": "ha-sensor",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "todo_item实体",
        "entityConfig": "3378e56e6363e6ae",
        "version": 0,
        "state": "todo_item",
        "stateType": "str",
        "attributes": [
            {
                "property": "items",
                "value": "items",
                "valueType": "msg"
            }
        ],
        "inputOverride": "allow",
        "outputProperties": [],
        "x": 700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1102b719ed296d65",
        "type": "comment",
        "z": "8debaea502f81074",
        "g": "22cba16ae772a56f",
        "name": "每个待办清单实体是一组",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "72e23d7b36028b95",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "c69ebc79ab1ec3f3",
        "name": "待办事项描述",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": "待办事项描述"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "704c32e3a7bf4793",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "c69ebc79ab1ec3f3",
        "name": "待办事项名称",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": "待办事项名称"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "1b3e22ad604a5bee",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "c69ebc79ab1ec3f3",
        "name": "待办事项时间",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": "待办事项时间"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "d5d3e351.02443",
        "type": "server",
        "name": "消逝Home Assistant",
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ":",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "3378e56e6363e6ae",
        "type": "ha-entity-config",
        "server": "d5d3e351.02443",
        "deviceConfig": "c69ebc79ab1ec3f3",
        "name": "todo_item",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "todo_item"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "c69ebc79ab1ec3f3",
        "type": "ha-device-config",
        "name": "待办事项",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]